
#logo{
    font-family: 'Lobster', cursive;
font-family: 'Mochiy Pop P One', sans-serif;
font-family: 'Mulish', sans-serif;
font-family: 'Satisfy', cursive;
    font-size: 50px;
}

.textonimage{
    position:absolute;
    width: 100%;
    text-align: center;
    top:50%;
    color: white;
    font-size: 400%;
}

#toprow{
    padding-top: 20px;
    padding-bottom: 20px;
}

#bottomrow{
    padding-bottom: 20px;
}

#map{
    height: 400px;
}

#endingSection{
    padding-bottom: 20px;
}
